body {
    display: flex;
    justify-content: center; /* centrar en  horizontal */
    align-items: center; /* centrar en vertical */
    min-height: 100vh; /* se ocupa el 100% la ventana */
    text-align: center;
}

.error-container {
    max-width: 600px; 
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-logo {
    width: 150px; /* logo */
    margin-bottom: 50px;
}

.error-content h1 {
    font-size: 3rem; 
    color: #333;
    margin-bottom: 20px;
}

.error-content p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
}

.error-button {
    display: inline-block;
    text-decoration: none;
    background-color: #E30613;
    color: white; 
    border: none;
    border-radius: 10px; 
    padding: 14px 32px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.error-button:hover {
    background-color: #c60512; 
    transform: scale(1.05); 
}