.contact-section {
    padding-top: 150px; 
    padding-bottom: 50px; 
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-section p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.contact-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    font-weight: bold;
}

.contact-button:hover {
    transform: translateY(-3px);
}

.call-button {
    background-color: #e0e9f3;
    color: #336699; 
}

.email-button {
    background-color: #f7e0e0;
    color: #E30613; 
}

.contact-form {
    max-width: 700px; 
    margin: 0 auto;
    background-color: white; 
    padding: 3rem 4rem; 
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.form-row {
    display: flex;
    gap: 1.5rem; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333; 
    font-weight: 500;
}

.contact-form textarea {
    height: 120px;
    resize: none; 
}

.submit-button {
    background-color: #E30613;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    background-color: #c60512;
}

.contact-info-cards {
    padding-top: 0px; 
    padding-bottom: 80px; 
    max-width: 1200px;
    margin: 0 auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    padding: 0 4%; 
    margin-bottom: 40px;
    text-align: center;
}

.info-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-card i {
    font-size: 2.2rem;
    color: #E30613; 
    margin-bottom: 10px;
}

.info-card h3 {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
}

.info-card a {
    color: #555;
    text-decoration: none;
}

.map-container {
    padding: 0 4%;
}
.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 850px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }
    .contact-form {
        padding: 1.5rem;
        gap: 1rem;
    }
    .cards-container {
        grid-template-columns: 1fr; 
    }
}